body {
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    line-height: 1.5;

    font-size: 16pt;
}

.app {
    margin-top: 6rem;
    text-align: center;
}

.timer {
    font-size: 30pt;
}

.timer-section {
    display: inline-block;
    margin: 0 0.2em;
}

.timer-block {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-variant-numeric: tabular-nums;

    color: black;
    background-color: white;
    padding: 0.1em 0.3em;

    display: inline-block;
    min-width: 1.2em;
}

.lead-text {
    margin-bottom: 1.5rem;
}

footer {
    margin-top: 2.5rem;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: #51aeff;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .timer-section {
        display: block;
        margin-bottom: 1rem;
    }
}
